<div class="content" role="main">

    <!-- Highlight Card -->
    <br>
    <br>
  
    <div class="border-1">    
        <p>Forgot your password?</p>  
        <p>Please submit your email below for us to help you reset it </p>    
      <br/><br/>
        <form class="mt-2">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="username">
        </mat-form-field> <br><br/>
              
              <button class="float-left" mat-flat-button color="accent">Reset Password </button>
          </form>
          <a class="mt-n3" style="float: right;" [routerLink]="['/account/login']"> Login Instead?</a><br><br/>
            
          <br/><br/>
</div>
  
