<div class="container">
  <h4 class="text-muted m-4 p-2 text-with-line">
    <span> All Tasks </span>
  </h4>
  <div class="row">
    <!-- <div class="" > -->
    <mat-card
      class="card col-lg-2 col-md-3 col-sm-6 m-2"
      *ngFor="let task of tasks"
      routerLink="/taskdetails/{{ task.id }}"
    >
      <!-- <mat-card-header class="card-header"> -->
      <div class="custom-card-header">
        <img mat-card-image [src]="task.attachment" alt="task-photo" />
      </div>
      <!-- </mat-card-header> -->

      <div class="">
        <mat-card-content>
          <div class="row font-weight-bold text-muted custom-font-user-amount">
            <div class="col-6">
              <p>Creator: {{ task.user }}</p>
            </div>
            <div class="col-6">
              <p>Reward: GHS {{ task.amount }}.00</p>
            </div>
          </div>
          <h6 class="text-muted custom-title">{{ task.jobTitle }}</h6>
        </mat-card-content>

        <!-- <mat-card-actions class="ml-1 text-bold text-muted">
          <p class="text-small">{{ task.type }}: {{ task.typeValue }}</p>
        </mat-card-actions> -->
      </div>
    </mat-card>
    <!-- </div> -->
  </div>
</div>
